$light-blue : #3498db;
.mont-fonts {
	font-family: 'montserrat';
}



body{
	background : url(http://subtlepatterns.com/patterns/dark_exa.png);
}

.title {
	  background: transparent;
  text-shadow: none;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  @extend.mont-fonts;
  font-weight: 400;
}

.form-signin {
	box-shadow: none;
	background: transparent;
	width: 420px;


.btn-lg {
	  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  background: $light-blue;
  @extend .mont-fonts;
  font-weight: 400;
  padding: 6px 0!important;

&.btn-login {
	border:none;
}
&:hover {
	background: $light-blue;
		}
	}
.alert_access {
	text-align: center;
	width: 100%;
	display: inline-block;
}
.form-control {
	text-align: center;
	padding: 8px 0;
	margin: 5px 0;
}
.form_container {
	border: none;
	border-radius: 4px;
	height: 274px;
	text-align: center;
	  box-shadow: 0px -1px 24px -3px rgba(235,228,235,.7);
	    padding: 14px 24px;
	.form_title {
		  color: rgba(0,0,0,.8);
		  font-family: 'montserrat';
		  font-weight: 400;
		  font-size: 16px;
	}
}
}

.footer {
	text-align: center;
	background: transparent;
	border: none;
	img {
		display: inline-block;
		float: none;
	}
}